.boton-drop{
    color: #333333;
    }
    .boton-drop:hover{
    color: #5a1613;
    }
    .amatoli-link{
        color: #333333;
    }
    .amatoli-link:hover{
        color: #5a1613;
    }
    .btn-flotante {
  font-size: 25px;
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	/*letter-spacing: 2px; /* Espacio entre letras */
	background-color: #a10334; /* Color de fondo */
	padding: 10px 20px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.btn-flotante:hover {
  background-color: #5a1613; /* Color de fondo al pasar el cursor */
  cursor: pointer;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
}