#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}
#form p {
  text-align: center;
}
#form label {
  font-size: 20px;
}
input[type="radio"] {
  display: none;
}
label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}
label:hover,
label:hover ~ label {
  color: orange;
}
input[type="radio"]:checked ~ label {
  color: orange;
}
.filas-alineadas{
    margin-left: 1px;
}
.precio-prod{
    font-size: 40px;
}
/*
.img-sm-amantoli{
    width: 70px;
    height: 70px;
    margin: 3px;
}

ul, li {
    list-style: none inside;
}
ul.slider {
    position:relative;
}
ul.slider li {
    opacity: 0; 
    transition: opacity .5s;
    position: absolute;

}
ul.slider li:first-child {
    opacity: 1;
}
ul.slider li:target {
    opacity: 1;
}
nav {
    position:relative;
}

*/