body{transition:.40s; background: #ffffff; color: black}
.body-black{
    background-color: #ffffff;
}
.black{background:#343a40; color:white;}
.titulos-black{color: #d6d6d6;}
.cartas-black{background-color: #202124;}
.texto-card-black{color: #d6d6d6;}
.footer-black{background-color: #202124;}
.comentarios-black{background-color: #202124;}
.table-darks{
    color: red;
}
.td-darks{
    
}
.them-claro{
    color: #fff;
    font-size: 25px;
}
/*202124*/