.titulos-carousel{
    text-align: right;
    font-size: 25px;
    font-weight: 500;
    color: #652614;
}
.social-carousel{
    text-align: right;
    font-size: larger;
}
.botones-carousel{
    width: 30px;
    height: 30px;
    border-radius: 80%;
    background-color: #652614;  
  }

.imagen-tabla{
    width: 100px;
    height: 100px;
  }