.amatoli-bar{
background: rgba(255, 255, 255, 0.9);
}
.amatoli-textos-bar{
    color: #333333;
    font-size: larger;
    font-weight: 500;
}
.amatoli-textos-bar:hover{
   box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0), inset 0 -1px 0 black;
   color: #5a1613;
}

.activado{
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0), inset 0 -1px 0 black;
}
.boton-primario{
    background-color: #a10334;
    color: #fff1ff;
   
}
.boton-primario:hover{
    color: #fff1ff;
    background-color: #5a1613;
}

.iconos-amatoli{
    font-size: larger;
    color: #a10334;
}
.iconos-amatoli:hover{
    color: #5a1613;
}
