.contenedor-padre{
    text-align: center;
}
.tarjeta-contenedora{
    display: inline-block;
    border: 0;
    margin-top: 10px;
    margin-left: 10px;
    width: 13rem;
}
.cuerpo-tarjeta
{
    color: #333333;
}
.link-tarjeta{
    color: #a10334;
    font-weight: 500;
    font-size: large;
   
}
.link-tarjeta:hover{
    text-decoration: none;
    box-shadow: inset 0 0px 0 white, inset 0 -1px 0 black;
    color: #5a1613;
}

.img-tarjeta-prod:hover{
    width: 205px;
    -webkit-filter: brightness(120%);
    filter: brightness(110%);
}
.img-tarjeta-categoria:hover{
    width: 315px;
    -webkit-filter: brightness(120%);
    filter: brightness(110%);
}
.titulo-prod{
    color: #333333;
}
.titulo-prod:hover{
    text-decoration: none;
    color: #595959;
}